[Unit]
Description=SSHFS mount of Pi sklenik /usr/local/bin
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/sshfs root@192.168.0.122:/usr/local/bin /opt/webapps/sklenik/pi-scripts \
    -o IdentityFile=/root/.ssh/id_rsa \
    -o reconnect,ServerAliveInterval=15,ServerAliveCountMax=3 \
    -o allow_other,default_permissions \
    -o StrictHostKeyChecking=accept-new
ExecStop=/bin/fusermount -u /opt/webapps/sklenik/pi-scripts
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
